<div class="row">
    <div class="col-md-6">
        <form class="well">
            <div class="form-group">
                <label for="firstName">Date</label>
                <input type="text" class="form-control" id="firstName" ng-model="form.date">
            </div>
            <div class="form-group">
                <label for="lastName">Expense</label>
                <input type="text" class="form-control" id="lastName" ng-model="form.expense">
            </div>
            <div class="form-group">
                <label for="expense">Category</label>
                <input type="text" class="form-control" id="amount" ng-model="form.category">
            </div>
            <div class="form-group">
                <label for="category">Value</label>
                <input type="text" class="form-control" id="category" ng-model="form.value">
            </div>
            <div class="row">
                <button type="submit" class="btn btn-success" ng-click="addToDatabase()">Add Expense</button>
            </div>
            <br>
        </form>
    </div>
    <div class="col-md-6">
        <div id="customer-table">
            <table class="table table-hover">
                <thead>
                    <th>Date</th>
                    <th>Expense</th>
                    <th>Category</th>
                    <th>Value</th>
                    <th><i class="fa fa-trash" ng-click="deleteAll()"></i>
                    </th>
                </thead>
                <tr ng-repeat="customer in customers">
                    <td>{{customer.date}}</td>
                    <td>{{customer.expense}}</td>
                    <td>{{customer.category}}</td>
                    <td>{{customer.value}}</td>
                    <td><i class="fa fa-trash" ng-click="delete($index)"></i></td>
                </tr>
            </table>
        </div> 
        
    </div>
</div>
